// Classes utilitárias mínimas
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/placeholders';

.container { @extend %container; }
.visually-hidden { @extend %visually-hidden; }

.flex-center { @include flex-center; }
.flex-between { @include flex-between; }

.mt-sm { margin-top: sp('sm') !important; }
.mt-md { margin-top: sp('md') !important; }
.mt-lg { margin-top: sp('lg') !important; }
.mt-xl { margin-top: sp('xl') !important; }
.mb-sm { margin-bottom: sp('sm') !important; }
.mb-md { margin-bottom: sp('md') !important; }
.mb-lg { margin-bottom: sp('lg') !important; }
.mb-xl { margin-bottom: sp('xl') !important; }

.text-center { text-align: center !important; }

.fade-in { @include fade-in; }
.fade-in--atraso-1 { @include fade-in($atraso: 100ms); }
.fade-in--atraso-2 { @include fade-in($atraso: 200ms); }
.fade-in--atraso-3 { @include fade-in($atraso: 300ms); }

[data-gsap] { opacity: 0; }
